<div class="overlay"></div>
<div class="full-screen-img"></div>
<div class="btn-holder absolut-center">
    <div class="container-fluid h-100 ">
        <div class="row h-100 align-items-stretch justify-content-between">
            <div class="item-holder text-center border border-info" [routerLink]="['/substancja']">
                <h4>STREFA LABORATORYJNA</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x "></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center border border-info" [routerLink]="['/strefy']">
                <h4>STREFA
                    <br>KATALOGOWA</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-table fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center border border-info">
                <a href="https://console.firebase.google.com/u/0/project/labostest/database/labostest/data">
                    <div class="h-100">
                        <!-- https://console.firebase.google.com/u/0/project/labostest/database/labostest/data -->
                        <h4>STREFA ADMINISTRACYJNA</h4>
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-database  fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>


<!-- <div class="header">
    <h4>in progress...</h4>
    
</div>

<div class="container">
    
    <button class="btn btn-info ng-click" routerLink="/strefy" routerLinkActive="active-link">
      
        ZALOGUJ SIĘ
       
    </button>
    
</div> -->