:host /deep/ ng2-smart-table tbody > tr > td:first-child {
    color: #ED1C24; font-size: 14px; line-height: 0.9em;
    } 


:host /deep/ ng2-smart-table thead > tr > th {
    font-size: 15px;}

:host /deep/ ng2-smart-table tbody > tr > th > a {
color: #ED1C24;
}

:host /deep/ ng2-smart-table tbody > tr > td {
    font-size: 14px;
    line-height: 0.7em;
    padding: 1em 2em;
}

:host /deep/ th {
    line-height: 0.5em;
    margin: 0.5em;
}

:host /deep/ ng2-smart-table a { color: #ED1C24; }
:host /deep/ ng2-smart-table a:link { color: #ED1C24; }
:host /deep/ ng2-smart-table a:hover { color: #ED1C24; }
:host /deep/ ng2-smart-table a:focus { color: #ED1C24; }