<!-- <div class="form-group row">
      <input  class="form-control col-2" style="margin: 20px" (keyup)="onKey($event)" placeholder="Szukaj">

      
  </div> -->

  

<div class="navlist">
    <table class="table">
      <th class="col-sm">Zwrot</th>
      <th class="col-sm">Status</th>
      <th class="col-sm">Slownie</th>
    </table>
  </div>

  <div>
    <div>
      <input type="text" placeholder="Search" ng-model="userSearch">
    </div>
  </div>

 <!-- <div >
   <div ng-repeat="oznaczenie in oznaczenia | filter:userSearch ">
     <div>
       {{oznaczenie.zwrot}} 
     </div>
   </div>
 </div> -->
  
  <div class="lista" *ngFor="let oznaczenie of (oznaczenia$ | async) ">
    <div class="Row" [routerLink]="['/oznaczenia']">
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th class="col-sm">{{ oznaczenie.zwrot }}</th>
              <th class="col-sm">{{ oznaczenie.status }}</th>
              <th class="col-sm">{{ oznaczenie.slownie }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

