<!-- <p>
  alltabs works!
</p> -->


<div class="overlay"></div>
<div class="full-screen-img"></div>
<div class="holder absolut-center container-fluid">

  <!-- <div class="" style="background-color:ghostwhite;"></div> -->
<!-- </div> -->
<ngx-tabset>
  <ngx-tab title="PRODUKTY">
    <app-products> </app-products>
  </ngx-tab>
  <ngx-tab title="UZYTKOWNICY">
    <app-uzytkownicy> </app-uzytkownicy>
  </ngx-tab>
  <ngx-tab title="PRODUCENCI">
    <app-producenci> </app-producenci>
  </ngx-tab>
  <ngx-tab title="OZNACZENIA">
    <app-oznaczenia> </app-oznaczenia>
  </ngx-tab>
  <!-- <ngx-tab title="WPROWADZ ILOSC">
    <app-wprowadz-ilosc> </app-wprowadz-ilosc>
  </ngx-tab> -->
</ngx-tabset>
<!-- </div> -->



</div>