<div class="overlay"></div>
<div class="full-screen-img"></div>
<div class="login-holder absolut-center">
    <div class="row h-100">
        <div class="col-sm-6 h-100">
            <img class="logo" src="assets/images/logo2.png" alt="">
        </div>
        <div class="col-sm-6 h-100">
            <div class="absolut-center width200">
                <div class="form-group">
                    <label for="usr">E-mail:</label>
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="form-group">
                    <label for="pwd">Hasło:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <button class="btn btn-info ng-click" routerLink="/strefy" routerLinkActive="active-link">
                    Zaloguj się
                </button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="header">
    <h4>in progress...</h4>
    
</div>

<div class="container">
    
    <button class="btn btn-info ng-click" routerLink="/strefy" routerLinkActive="active-link">
      
        ZALOGUJ SIĘ
       
    </button>
    
</div> -->