<div class="row">
  <div class="col-lg-6">
   
      <h1>Wprowadź ID substancji</h1>
        <div class="wprowadz_id">
          <label>Wybierz z listy</label>
          <select class="form-control">
            <option>metan</option>
            <option>etan</option>
            <option>propan</option>
            <option>butan</option>
            <option>oktan</option>
          </select>
        </div>
          <br>
          
          <!-- <button class="btn btn-info"> -->
              <!-- DALEJ -->
              <a href="http://localhost:4200/substancja">DALEJ</a>
          <!-- </button> -->
       
     
    </div>
</div>


 