<div class="row">
  <div class="col-lg-6">

    <h1>Wprowadź ID substancji</h1>
    <div class="wprowadz_id">
      <label>Wybierz z listy</label>
      <select class="form-control">
        <option>Aceton</option>
        <option>Acetonitryl</option>
        <option>Metanol</option>
        <option>Etanol</option>
        <option>NaOH</option>
        <option>Manganian(VII) Potas</option>
        <option>Woda Deuterowana</option>
        <option>Kwas Solny</option>
        <option>2-Propanol</option>
        <option>Kwas Octowy</option>
        <option>DImetylu Sulfotlenek</option>
        <option>Pirymidyna</option>
        <option>2,2’-Bipirydy</option>
        <option>1,10-Fenantrolina</option>
        <option>Pirazyna</option>
        <option>4,4'-Bipirydyl</option>
        <option>1,2-Bis(4-pirydyl)-etan</option>
        <option>2-Aminopirydyna</option>
        <option>3-methyl-3-pyrazolin-5-one</option>
        <option>Chlorek Kadmu</option>
        <option>Azotan (V) Miedzi (II)</option>
        <option>Chlorek Miedzi (II)</option>
        <option>Alkohol Poliwynylowy</option>
        <option>3-Metylo-2-butanol</option>
        <option>1,2,4,5-tetrametylobenzen</option>
        <option>Poliwinylopirolidon</option>
        <option>Calcium Succinate</option>
        <option>Chinolina</option>
        <option>p-Nitrofenol</option>
        <option>Kwas Sulfanilowy</option>
        <option>Fenol</option>
        <option>Florisil</option>
        <option>Deuterowany Metanol</option>
        <option>DMPPDA</option>
        <option>Węglan Manganu (II)</option>
        <option>Tris(aminoethyl)amine</option>
        <option>Kwas pirydyno-2,3-dikarboksylowy</option>
        <option>DMPPDA</option>
        <option>Kwas Pikolinowy</option>
        <option>Anilina</option>
        <option>Chlorowodorek 1,10-Fenantroliny</option>
      </select>
    </div>
    <br>
    <a href="http://localhost:4200/substancja">DALEJ</a>
  </div>
</div>