
<div class="overlay"></div>
<div class="full-screen-img"></div>
<div class="holder absolut-center container-fluid">

<div class=""style="background-color:ghostwhite;">
 
  <ngx-tabset>
    <ngx-tab title="PRODUKTY" >
      <app-products-admin> </app-products-admin>
    </ngx-tab>
    <ngx-tab title="UZYTKOWNICY">
      <app-uzytkownicy-admin> </app-uzytkownicy-admin>
    </ngx-tab>
    <ngx-tab title="PRODUCENCI" >
      <app-producenci-admin> </app-producenci-admin>
    </ngx-tab>
    <ngx-tab title="OZNACZENIA" >
      <app-oznaczenia-admin> </app-oznaczenia-admin>
    </ngx-tab>
  </ngx-tabset>
  </div>
  </div>