<div>
<div class="container color-dark">
  <div class="col">
        <p>Tutaj mozesz wprowadzic ilosc zuzytej substancji</p>
    </div>
    <div class="col">
      <p>Zuzyte substancje ({{ itemCount }})</p>
    </div>
</div>
<div class="container color-light" >
    <div class="col">
        <p class="sm">Z jaka substancja pracowales i ile ml jej zuzyles ?</p>

        <form>
            <select class='select-option' required [(ngModel)]='wybranyProdukt' name = "selectProduct" >
                <option class='option' *ngFor='let produkt of (produkty$ | async)' [value]="produkt">{{produkt.nazwaChemiczna+'('+produkt.iloscPosiadana+')'}}</option>
            </select>
            <input type="number" class="txt" name="item1" placeholder="Ilosc" [(ngModel)]="substanceAmount" required>
            <input type="submit" class="btn" [value]="btnText" (click)="addItem()">

        </form>
    </div>
    <div class="col">
        <p class="substances-container" *ngFor="let substance of usedSubstances">
            {{ substance.wybranyProdukt.nazwaChemiczna }}
        </p>
    </div>
</div>
</div>
