<div class="overlay"></div>
<div class="full-screen-img"></div>
<div class="holder absolut-center container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Wybierz substancję</h2>
            <!-- <div class=""> -->
            <!-- <p>Wprowadź ilość zużytej substancji</p> -->
            <!-- </div> -->

            <!-- <div class="col">
                    <p>Zużyte substancje: ({{ itemCount }})</p>
                </div> -->
        </div>
    </div>
    <div class="absolut-center blabla">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <form>
                        <select class='select-option' required [(ngModel)]='wybranyProdukt' name="selectProduct">
                            <option class='option' *ngFor='let produkt of (produkty$ | async)' [value]="produkt">{{produkt.nazwaChemiczna+'('+produkt.iloscPosiadana+')'}}</option>
                        </select>
                        <p class="topmargin">Wprowadź ilość zużytej substancji</p>
                        <input type="number" class="txt" name="item1" placeholder="Ilosc" [(ngModel)]="substanceAmount" required>
                        <br>
                        <button class="btn btn-info" type="submit" (click)="addItem()">{{btnText}}</button>
                        <br>
                        <br>
                        <a [routerLink]="['/strefy']"> Tabela </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col">
                    <p class="substances-container" *ngFor="let substance of usedSubstances">
                        {{ substance.wybranyProdukt.nazwaChemiczna }}
                    </p>
                </div> -->
    <!-- </div> -->

</div>
