:hist /deep/ ng2-smart-table tbody > tr > td:first-child {
    color:  #17a2b8; font-size: 15px; line-height: 0.9em;
    } 


    :host /deep/ ng2-smart-table tbody > tr > td > a {
        color: #17a2b8; font-size: 10px;}
        
        :host /deep/ ng2-smart-table tbody > tr > th > a {
        color: #17a2b8;
        }
        
        :host /deep/ ng2-smart-table tbody > tr > td {
            font-size: 15px;
            line-height: 0.9em;
            padding: 1em 2em;
        }
        
        :host /deep/ th {
            line-height: 0.5em;
            margin: 0.5em;
        }
        
        
        :host /deep/ ng2-smart-table a { color: #17a2b8; }
        :host /deep/ ng2-smart-table a:link { color: #17a2b8; }
        :host /deep/ ng2-smart-table a:hover { color: #17a2b8; }
        :host /deep/ ng2-smart-table a:focus { color: #17a2b8; }

  